<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MCQ</title>
    <script src="../model/model.js"></script>
    <script src="../controller/controller.js"></script>
</head>

<body>
    <h1>MCQ Test</h1>
    <hr>
    <fieldset>
        <h2 id="question"></h2>
        <label for=""><input type="radio" name = "option" value = 0><span id = "op1"></span></label><br>
        <label for=""><input type="radio" name = "option" value = 1><span id = "op2"></span></label><br>
        <label for=""><input type="radio" name = "option" value = 2><span id = "op3"></span></label><br>
        <label for=""><input type="radio" name = "option" value = 3><span id = "op4"></span></label><br>
    </fieldset>
    <button id = "next">next</button>
    <h3 id = "result"></h3>
</body>
</html>